<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Almacen2.Properties.Settings.Almacen2ConnectionString"
            connectionString="Data Source=mateotest.database.windows.net;Initial Catalog=Almacen2;Persist Security Info=True;User ID=almacenadmin;Password=sneYQY61+"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>